.tag-filter

  %form#tag-filter.custom
    %a.filter-dropdown{href: "#", data: {dropdown: "filter-tags"}} Filters
    %ul#filter-tags.large-12.columns{data: {dropdown: {content: true}}}
      -Tag.filterable.each do |tag|
        %li
          =label_tag tag.name do
            =check_box_tag tag.name, tag.name, @filter_tags.include?(tag)
            %span.custom.checkbox
            =tag.name