.tag-filter
  %form#tag-filter.custom
    %ul.large-12.columns{class: "large-block-grid-#{Tag.filterable.count}"}
      -Tag.filterable.each do |tag|
        %li
          =label_tag tag.name do
            =check_box_tag tag.name, tag.name, @filter_tags.include?(tag)
            %span.custom.checkbox
            =tag.name