-content_for(:scripts){render '/layouts/gmap.js'}
=render 'tag_filter'
=render 'shared/head'

.results.row
  .map.large-5.columns.show-for-medium-up
    #map-canvas
  .businesses.large-7.columns

    -@businesses.each do |business|
      .business.row{data: {lat: business.lat, lng: business.lng}}
        .large-2.column
          =image_tag ('business_thumb_placeholder.png'), class: "thumb"
        .large-10.column

          %h2 
            =link_to business.name, business_path(business), class: 'business-name'
          .description= business.description
          %span= business.formatted_address
          %span= business.phone