=render 'shared/head'

.results.row
  .map.large-4.columns
    map goes here
  .businesses.large-8.columns

    -@businesses.each do |business|
      .business.row
        .large-2.column
          =image_tag (business.thumbnail_url || 'business_thumb_placeholder.png'), class: "thumb"
        .large-10.column

          %h2 
            =link_to business.name, business_path(business)
          .description= business.description
          %span= business.formatted_address
          %span= business.phone