.head

  %nav
    %ul.title-area
      %li.name
      %li{:id => "logo"}
        =link_to image_tag('logo.png'), root_path, class: 'logo'
      %li{:id => "logo_txt"}
        Your Guide to Sustainable Treasures

    %section.top-section
      .menu-icon
        %a{data: {dropdown: 'main-menu'}}
          %span
      #main-menu{data: {dropdown: {content: true}}}
        %ul.right
          %li
            %a{:href=>"https://www.indiegogo.com/projects/roguemaps-com-the-map-to-your-sustainable-treasure"} IndieGoGo
          %li
            =link_to "About", "/pages/about"
          %li
            =mail_to "info@roguemaps.com", "Contact"
          
    %section.top-section.search
      =render 'shared/search'         
