.head

  %nav
    %ul.title-area
      %li.name
      %li{:id => "logo"}
        =link_to image_tag('logo.png'), root_path, class: 'logo'
      %li{:id => "logo_txt"}
        Your Guide to Sustainable Treasures

    %section.top-section
      %ul.right
        %li
          =link_to "About", "/pages/about"
        %li
          =mail_to "contact@roguemaps.com", "Contact"
          
    %section.top-section.search
      =render 'shared/search'         
