// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.businesses
  margin-top: 1.5em

    
  .business
    background: rgba(255, 255, 255, 0.95)
    padding: 5px 0 5px 0
    margin-bottom: 5px
    +border-radius(5px)
    min-height: 150px
    h2
      line-height: 1
      margin: 0
      
  .thumb
    width: 100%
    display: inline-block
    vertical-align: middle
    
  

