// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.businesses
  margin-top: 2em
  
  .main-container
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    
  .businesses
    position: fixed
    top: 55px
    bottom: 0px
    right: 0px
    overflow-y: scroll
    background: rgba(243, 248, 252, .85)
    
  .map
    position: fixed
    top: 55px
    bottom: 0px
    left: 0px
    +border-radius(5px)
    padding: inherit
    height: 100%
    overflow: hidden
  
    
  .business
    background: rgba(243, 248, 252, 1)
    padding: 5px 0 5px 0
    margin-bottom: 5px
    +border-radius(5px)
    min-height: 150px
    h2
      line-height: 1
      margin: 0
      
  .thumb
    width: 100%
    vertical-align: bottom
    

    
  

