// // this is where you should put all the site-wide styling


input[type='text']
  +border-radius(5px)
  height: 2.0em


html, body
  height: 100%
  
.head
  height: 100px
  
.submit
  outline: none

.results > .columns
  padding: 0

  & > .row
    margin: 0

.map
  position: absolute
  top: 0px
  bottom: 0px
  left: 0px
  height: 100%
  overflow: hidden

#map-canvas
  width: 100%
  height: 100%
  img 
    max-width: none

.results
  position: absolute
  top: 100px
  bottom: 0px
  right: 0px
  left: 0px

.pagination
  // style pagination here
  text-align: center
  margin-top: 20px