// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pages-landing

.head
  background: rgba(243, 248, 252, 0)

  .top-bar .top-bar-section   
    form.search
      display: none
      
  .main-container
    height: 100%
    
  .helper
    height: 30%
    vertical-align: middle
    
  form.search
    vertical-align: middle
    .submit
      cursor: pointer
      height: 45px
