// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pages-landing

  .top-section   
    form.search
      display: inline
    & input.submit
      height: 26px
    .main-container
      height: 100%
    
    .disclaimer
      background-color: #FFFFFF
      padding: 5px
      text-align: center
      margin-top: 90px
      margin-left: 60px
      border: 2px black solid
      +border-radius(5px)
      p
        font-family: $heading-font
        font-size: 1.5em
      .disclaim-footer
        background-color: #000000
        height: 2.5em
        padding: 5px
        margin: 0 -6px -6px -5px
        color: #FFFFFF
        span
          color: red
        a
          color: #FFFFFF
          font-family: $heading-font
          font-size: 1.5em
    
  .helper
    height: 12%
    vertical-align: middle

#pages-about

  .company
    position: relative
    top: -9px
    p
      padding-left: 10px
      padding-right: 5px
      
  .top_about
    padding-left: 10px
    padding-right: 10px
   
  .about_content
    .logo_side
      padding-left: 20px
      background-color: rgba(0,0,0, .45)
      overflow: hidden
    
    .desc
      overflow: hidden
      padding: 0px 40px 0
      

    h1, h2
      text-align: center
      font-family: $heading-font
    p
      text-align: left
      text-indent: 50px
      
    .grid
      height: 580px
      width: 100%
      margin: 0
      background: image_url('about_logo.png')
      background-position: center center
      background-repeat: no-repeat

      .inner
        height: 33.33%
        
    .sword_content, .bg_content, .unicorns_content, .x_content
      display: none
    .hover
      display: block