- title 'about'

=render 'shared/head'

.results.row
  .large-8.small-centered.columns.row
    .wrapper
      .about_content
        %h2 About Our Logo
        =image_tag('about_logo.png')
        %h1 Here is the text for the rest of the about sections


    
