- title 'Welcome'

=render 'shared/head'

.helper.show-for-medium-up
.main.row
  .large-8.small-centered.columns.row
    .disclaimer
      %p Ahoy!! Currently we arr sailing in the Rogue Valley in Southern Oregon. Begining with Ashland Oregon, we be adding new businesses as we grow. 
      %p We arr plotting our course and swabbing the deck. If y'ad like t'e add a sustainable business, hail the crew via the <a href="mailto:info@roguemaps.com?Subject=Hailing%20the%20crew"><span style="color: red">Contact</span></a> link above.
  .large-8.small-centered.columns.row
    =form_tag search_businesses_path, method: 'get', class: 'search' do
      .large-5.columns
        =text_field_tag :q, nil, placeholder:'What'
      .large-5.columns
        =text_field_tag :location, nil, placeholder:'Where'
      
      .large-2.columns
        =image_submit_tag 'search_button.png', class: 'submit'
    
