- title 'Welcome'
=render 'shared/head'
.main.row
  .large-8.small-centered.columns.row
    =form_tag search_businesses_path do
      .large-5.columns
        =text_field_tag :location, nil, placeholder:'Where'
      .large-5.columns
        =text_field_tag :q, nil, placeholder:'What'
      .large-2.columns
        =submit_tag "S"
    
