- title 'Welcome'
=render 'shared/head'
.helper
.main.row
  .large-8.small-centered.columns.row
    =form_tag search_businesses_path, class: 'search' do
      .large-5.columns
        =text_field_tag :q, nil, placeholder:'What'
      .large-5.columns
        =text_field_tag :location, nil, placeholder:'Where'
      
      .large-2.columns
        =image_submit_tag 'search_button.png', class: 'submit'
    
